USE [master]
GO
/****** Object:  Database [VeterinariaLPPA]    Script Date: 5/7/2022 03:16:57 ******/
CREATE DATABASE [VeterinariaLPPA]
--  CONTAINMENT = NONE
--  ON  PRIMARY 
-- ( NAME = N'VeterinariaLPPA', FILENAME = N'C:\Users\marti\OneDrive\2022-2doCuatrimestre\2 - Martes - Modelos Computacionales de Gestion Administrativa\Trabajo Practico\Codigo\Base de Datos\VeterinariaLPPA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
--  LOG ON 
-- ( NAME = N'VeterinariaLPPA_log', FILENAME = N'C:\Users\marti\OneDrive\2022-2doCuatrimestre\2 - Martes - Modelos Computacionales de Gestion Administrativa\Trabajo Practico\Codigo\Base de Datos\VeterinariaLPPA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
--  WITH CATALOG_COLLATION = DATABASE_DEFAULTl
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VeterinariaLPPA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VeterinariaLPPA]
GO
/****** Object:  Table [dbo].[Accion]    Script Date: 5/7/2022 03:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accion](
	[id] [int] NULL,
	[detalle] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 5/7/2022 03:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[id] [int] NULL,
	[detalle] [varchar](500) NULL,
	[fecha] [varchar](500) NULL,
	[id_usuario] [int] NULL,
	[dvh] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Digito_Verificador]    Script Date: 5/7/2022 03:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Digito_Verificador](
	[ID_Digito_Verificador] [bigint] NOT NULL,
	[Tabla] [varchar](50) NOT NULL,
	[DVV] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_Usuario]    Script Date: 5/7/2022 03:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_Usuario](
	[id] [int] NULL,
	[tipo_usuario] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoUsuario_Accion]    Script Date: 5/7/2022 03:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoUsuario_Accion](
	[id_tipousuario] [int] NULL,
	[id_accion] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 5/7/2022 03:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id] [int] NULL,
	[usuario] [varchar](100) NULL,
	[contraseña] [varchar](100) NULL,
	[nombre] [varchar](100) NULL,
	[bloqueado] [int] NULL,
	[id_tipo_usuario] [int] NULL,
	[dvh] [varchar](500) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Accion] ([id], [detalle]) VALUES (3, N'Comprar')
INSERT [dbo].[Accion] ([id], [detalle]) VALUES (4, N'Consultar')
INSERT [dbo].[Accion] ([id], [detalle]) VALUES (5, N'Agregar Item')
GO
INSERT [dbo].[Bitacora] ([id], [detalle], [fecha], [id_usuario], [dvh]) VALUES (1, N'Inicio de Sesion - Usuario: admin', N'25/06/2020 21:45:51', 1, N'94255')
INSERT [dbo].[Bitacora] ([id], [detalle], [fecha], [id_usuario], [dvh]) VALUES (2, N'Inicio de Sesion - Usuario: prueba', N'25/06/2020 21:46:06', 2, N'99239')
INSERT [dbo].[Bitacora] ([id], [detalle], [fecha], [id_usuario], [dvh]) VALUES (3, N'Inicio de Sesion - Usuario: prueba', N'25/06/2020 22:08:16', 2, N'99242')
GO
INSERT [dbo].[Digito_Verificador] ([ID_Digito_Verificador], [Tabla], [DVV]) VALUES (1, N'Usuario', 182886)
INSERT [dbo].[Digito_Verificador] ([ID_Digito_Verificador], [Tabla], [DVV]) VALUES (2, N'Bitacora', 8594336)
GO
INSERT [dbo].[Tipo_Usuario] ([id], [tipo_usuario]) VALUES (1, N'Webmaster')
INSERT [dbo].[Tipo_Usuario] ([id], [tipo_usuario]) VALUES (2, N'Cliente')
GO
INSERT [dbo].[TipoUsuario_Accion] ([id_tipousuario], [id_accion]) VALUES (1, 1)
INSERT [dbo].[TipoUsuario_Accion] ([id_tipousuario], [id_accion]) VALUES (1, 2)
INSERT [dbo].[TipoUsuario_Accion] ([id_tipousuario], [id_accion]) VALUES (2, 3)
GO
INSERT [dbo].[Usuario] ([id], [usuario], [contraseña], [nombre], [bloqueado], [id_tipo_usuario], [dvh]) VALUES (1, N'admin', N'bb68b7232bb4fcba4cd6bd26b29b544f', N'Juancito', 0, 1, N'92237')
INSERT [dbo].[Usuario] ([id], [usuario], [contraseña], [nombre], [bloqueado], [id_tipo_usuario], [dvh]) VALUES (2, N'cliente', N'bb68b7232bb4fcba4cd6bd26b29b544f', N'Patito', 0, 2, N'90649')
GO
/****** Object:  StoredProcedure [dbo].[blanquear_password]    Script Date: 5/7/2022 03:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[blanquear_password]
@usu varchar(100)
as 
begin
UPDATE dbo.Usuario SET bloqueado = 0 where usuario = @usu
end 
select u.id as id, u.usuario as usuario, u.contraseña as contraseña, u.nombre as nombre, u.bloqueado as bloqueado, u.id_tipo_usuario as tipo_usuario From Usuario u where usuario = @usu
GO
/****** Object:  StoredProcedure [dbo].[bloquear_usuario]    Script Date: 5/7/2022 03:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[bloquear_usuario]
@usu varchar(100)
as 
begin
UPDATE dbo.Usuario SET bloqueado = bloqueado + 1 where usuario = @usu
end 
select u.id as id, u.usuario as usuario, u.contraseña as contraseña, u.nombre as nombre, u.bloqueado as bloqueado, u.id_tipo_usuario as tipo_usuario From Usuario u where usuario = @usu
GO
/****** Object:  StoredProcedure [dbo].[borrar_digito_verificador]    Script Date: 5/7/2022 03:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[borrar_digito_verificador]
@tabla varchar(100), @dvv varchar(500)
as 
begin
declare @id int
set @id = isnull((Select max(ID_Digito_Verificador) from Digito_Verificador),0 ) +1

DELETE [dbo].[Digito_Verificador] WHERE Tabla = @tabla
end
GO
/****** Object:  StoredProcedure [dbo].[desbloquear_usuario]    Script Date: 5/7/2022 03:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[desbloquear_usuario]
@usu varchar(100)
as 
begin

UPDATE Usuario
SET bloqueado = 0
WHERE usuario = @usu;
end
select u.id as id, u.usuario as usuario, u.contraseña as contraseña, u.nombre as nombre, u.bloqueado as bloqueado, u.id_tipo_usuario as tipo_usuario From Usuario u where usuario = @usu
GO
/****** Object:  StoredProcedure [dbo].[listar_acciones]    Script Date: 5/7/2022 03:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[listar_acciones]
@id_tipo_usu varchar(50)
as 
begin
select b.id, b.detalle
from TipoUsuario_Accion a 
inner join Accion b 
on a.id_accion= b.id 
where a.id_tipousuario = @id_tipo_usu
end 
GO
/****** Object:  StoredProcedure [dbo].[listar_bitacora]    Script Date: 5/7/2022 03:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[listar_bitacora]
as 
begin
select a.*, b.nombre, b.usuario 
from Bitacora a
inner join Usuario b
on a.id_usuario = b.id
ORDER BY a.fecha DESC
end 
GO
/****** Object:  StoredProcedure [dbo].[listar_usuariosBloqueados]    Script Date: 5/7/2022 03:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create procedure [dbo].[listar_usuariosBloqueados]
as 
begin
select *
from Usuario
where bloqueado = 3
end 
GO
/****** Object:  StoredProcedure [dbo].[llenar_bitacora]    Script Date: 5/7/2022 03:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[llenar_bitacora]
@id_usu varchar(100), @detalle varchar(500)
as 
begin
declare @id int
declare @fecha datetime
set @id = isnull((Select max(id) from Bitacora),0 ) +1

INSERT INTO [dbo].[Bitacora]
           ([id]
           ,[detalle]
           ,[fecha]
           ,[id_usuario])
     VALUES
           (@id,
           @detalle,
           FORMAT(SYSDATETIME(), 'dd/MM/yyyy hh:mm:ss', 'en-gb'),
           @id_usu)
end
select @id as id, @detalle as detalle, SYSDATETIME() as fecha, @id_usu as id_usu
GO
/****** Object:  StoredProcedure [dbo].[llenar_digito_verificador]    Script Date: 5/7/2022 03:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[llenar_digito_verificador]
@tabla varchar(100), @dvv varchar(500)
as 
begin
declare @id int
set @id = isnull((Select max(ID_Digito_Verificador) from Digito_Verificador),0 ) +1

INSERT INTO [dbo].[Digito_Verificador]
           ([ID_Digito_Verificador]
           ,[Tabla]
           ,[DVV])
     VALUES
           (@id,
           @tabla,
           @dvv)
end
GO
/****** Object:  StoredProcedure [dbo].[modificar_digito_verificador]    Script Date: 5/7/2022 03:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[modificar_digito_verificador]
@tabla varchar(100), @dvv varchar(500)
as 
begin
declare @id int
set @id = isnull((Select max(ID_Digito_Verificador) from Digito_Verificador),0 ) +1

UPDATE [dbo].[Digito_Verificador] SET DVV = @dvv WHERE Tabla = @tabla
end
GO
/****** Object:  StoredProcedure [dbo].[update_bitacora_dvh]    Script Date: 5/7/2022 03:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[update_bitacora_dvh]
@id varchar(100), @dvh varchar(500)
as 
begin

UPDATE [dbo].[Bitacora] SET dvh = @dvh WHERE id = @id
end
GO
/****** Object:  StoredProcedure [dbo].[update_usuario_dvh]    Script Date: 5/7/2022 03:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[update_usuario_dvh]
@id varchar(100), @dvh varchar(500)
as 
begin

UPDATE [dbo].[Usuario] SET dvh = @dvh WHERE id = @id
end
GO
/****** Object:  StoredProcedure [dbo].[verificar_usuario]    Script Date: 5/7/2022 03:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[verificar_usuario]
@usu varchar(100), @pass varchar(100)
as 
begin
select a.id, a.nombre, a.usuario, a.contraseña, a.id_tipo_usuario, b.tipo_usuario
from Usuario a 
inner join Tipo_Usuario b 
on a.id_tipo_usuario = b.id 
where a.usuario = @usu and a.contraseña = @pass
end 
GO
/****** Object:  StoredProcedure [dbo].[verificar_usuario_sinpassword]    Script Date: 5/7/2022 03:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[verificar_usuario_sinpassword]
@usu varchar(100)
as 
begin
select a.id, a.nombre, a.usuario, a.contraseña, a.id_tipo_usuario,a.bloqueado, b.tipo_usuario
from Usuario a 
inner join Tipo_Usuario b 
on a.id_tipo_usuario = b.id 
where a.usuario = @usu
end 
GO
USE [master]
GO
